!!!
html
	head
		title= ''
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			.container
				h1 APTM Standard Library
		section
			.container
				!= body